### JupyterNotebook ###
.ipynb_checkpoints
*/.ipynb_checkpoints/*

### Python ###
# Byte-compiled / optimized / DLL files
__pycache__/

### PyCharm ###
.idea/

### Mac files ###
.DS_Store

cnn-sentence-classification/Keras example.ipynb
cnn-sentence-classification/cnn-sentence-classification-project/saved-elements/
cnn-sentence-classification/cnn-sentence-classification-project/tests/saved-elements/
glove/
mallet-2.0.8/
text-preprocessing/20_newsgroups/
word2vec/

### SonarQube ###
.scannerwork

### Documentation files ###
.scannerwork
cnn-sentence-classification/cnn-sentence-classification-project/docs/build/
