### JupyterNotebook ###
.ipynb_checkpoints
*/.ipynb_checkpoints/*

### Python ###
# Byte-compiled / optimized / DLL files
__pycache__/

### PyCharm ###
.idea/

### Mac files ###
.DS_Store

### SonarQube ###
.scannerwork

### Documentation files ###
topics_and_summary/docs/build/

### Project files ###
topics_and_summary/saved-elements/
topics_and_summary/tests/saved-elements/

### Other files used in the project ###
datasets/20_newsgroups/

## Files for packaging ##
topics_and_summary.egg-info
