matplotlib==3.0.2
nltk==3.6.3
seaborn==0.9.0
wordcloud==1.5.0
bokeh==1.0.4
dill==0.2.9
typing==3.6.4
pandas==0.24.1
gensim==3.4.0
networkx==2.2
texttable==1.6.1
numpy==1.15.4
tqdm==4.31.1
scikit-learn==0.20.3
sphinx==2.0.1
pipreqs==0.4.9
